body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:560px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:272px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 204, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Paytone One Bold', 'Paytone One Regular', 'Paytone One';
  font-weight:700;
  font-style:normal;
  color:#0080AB;
  text-align:center;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:70px;
  width:175px;
  height:50px;
  font-family:'Paytone One Bold', 'Paytone One Regular', 'Paytone One';
  font-weight:700;
  font-style:normal;
  color:#0080AB;
  text-align:center;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 153, 204, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Paytone One Bold', 'Paytone One Regular', 'Paytone One';
  font-weight:700;
  font-style:normal;
  color:#0080AB;
  text-align:center;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:107px;
  width:311px;
  height:45px;
  font-family:'Paytone One Bold', 'Paytone One Regular', 'Paytone One';
  font-weight:700;
  font-style:normal;
  color:#0080AB;
  text-align:center;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  white-space:nowrap;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:15px;
  width:41px;
  height:22px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:30px;
  height:22px;
  color:#FFFFFF;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
